<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AtherosL1cEthernet</string>
	<key>CFBundleIdentifier</key>
	<string>com.insanelymac.AtherosL1cEthernet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AtherosL1cEthernet</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.2b2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Atheros L1c NIC Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.AtherosL1cEthernet</string>
			<key>IOClass</key>
			<string>AtherosL1cEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x10831969 0x10631969 0x10621969 0x20601969 0x20621969 0x10731969</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Name</key>
			<string>PCI ID Matching</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
